# Logs
logs
*.log
npm-debug.log*

# Environment secrets
.env.local
.env

# Node modules
node_modules/
dist/
dist-ssr/
*.local

# Editor directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
